/*CONFIGURAÇÃO GERAL PARA DEIXAR AS BORDAS COLODAS NA TELA TODA*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffe9ee;
    color: #5a2a2a;
}

img {
    max-width: 100%;
}





/*CABEÇALHO*/
.topo {
    background: rgb(255, 227, 227);
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo img {
    width: 120px;
}

.topo nav a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(238, 70, 109);
    font-weight: bold;
}

.topo nav a:hover {
    color: #c4285a;
}




/*SESSÃO INTRO*/
.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    text-align: center;
}

.intro img {
    width: 250px;
    height: 350px;
    border-radius: 45%;
    border: 2px solid rgb(238, 70, 109);
    object-fit: cover;
}

.intro-texto {
    margin-top: 100px;
    max-width: 350px;
    font-size: 18px;
}

.produtos {
    padding: 20px;
    text-align: center;
    background-color: #facfdd;
    box-shadow: 0px 0px 10px #c4285a;
}

.produtos h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #c4285a;
}

.container-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    max-width: 900px;
    margin: 0 auto;
}

.produto {
    width: 200px;          
    text-align: center;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    background-color: #FFAEC1;
}

.produto:hover {
    box-shadow: 0 4px 10px rgba(223, 144, 196, 0.61);
}

.produto img {
    width: 100%;
    height: 180px;
    border-radius: 6px;
    object-fit: contain;
    display: block;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 50px;
    background: #FE6E91;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
.btn:hover {
    background: #e65c85;
}



/*SOBRE NÓS*/
.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px 20px;
}

.sobre-imagem img {
    width: 250px;
    height: 350px;
    border-radius: 45%;
    border: 2px solid rgb(238, 70, 109);
}

.sobre-texto {
    max-width: 450px;
}

.sobre-texto h2 {
    color: #c4285a;
}



/*CONTATO-NOS*/
.contato {
    padding: 40px 20px;
    text-align: center;
}

.contato h2 {
    font-size: 40px;
}

.contato form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    text-align: left;
}

.contato input,
.contato textarea {
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #d693a8;
    border-radius: 10px;
}

.contato button {
    margin-top: 20px;
    padding: 12px;
    background: #ff7fa7;
    border: none;
    color: white;
    border-radius: 20px;
}

.contato button:hover {
    background: #e65c85;
}




/*PAGINA DEALHES*/
.produto_detalhes {
    height: 300px;
    color: #c4285a;
    max-width: 800px;
    background: #FFAEC1;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    flex-wrap: wrap;
    border: 1px solid #fd6080;
    box-shadow: 0px 0px 5xpx #c4285a;
}

.produto_detalhes img {
    width: 40%;            
    max-width: 300px;  
    height: auto;          
    border-radius: 6px;
    object-fit: cover;
    position: relative;
    left: -15%; 
}


.produto_detalhes .paodoce {
    flex: 1;             
    min-width: 200px;   
    text-align: left;
    text-align: justify;
}

.titulo-preco {
    display: flex;
    align-items: center; 
    gap: 10px;                
    margin-bottom: 10px;
}

.titulo-preco h2 {
    margin: 0;
    color: #c4285a;        
}

.titulo-preco .preco {
    color: #c4285a;
    font-size: 13px;
}

.produto_detalhes p {
    margin-top: 10px;
    font-size: 1rem;
    color: #c4285a;
    line-height: 25px;
}




/*PAGINA CONTATO*/
.contato {
    height: 350px;
    max-width: 600px;
    background: #FFAEC1;
    padding: 40px 20px 20px 20px; 
    margin: 50px auto;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    position: relative; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #fd6080;
}


.icone-contato-legend {
    position: absolute;
    top: -30px; 
    left: 43%;
    width: 80px;
    height: 80px;
}

.icone-contato-legend img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fd6080;
}

.contato label {
    color: rgb(255, 110, 144);
}

.contato input {
    background-color: rgb(250, 140, 165);
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.linha-dupla {
    display: flex;
    gap: 10px;
}

.linha-dupla > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contato .btn:hover {
    background-color: #a31f4c;
}


/*RODAPÉ*/
footer {
    text-align: center;
    padding: 10px;
    background: #ffd9e0;
    margin-top: auto;

}
